@model vhrm.FrameWork.Entity.eForm

<style>
    .edit_row{
        margin-top: -10px;
    }
</style>
<div id="form_editor" class="container">
    <div class="form-group form-group-sm row edit_row">
        <label class="col-sm-4 col-form-label">Form Id:</label>
        <div class="col-sm-7">
            <input type="text" class="form-control form-control-sm" name="FORM_CODE" data-bind="value:FORM_CODE" />
        </div>
    </div>

    <div class="form-group form-group-sm row edit_row">
        <label class="col-sm-4 col-form-label">Form Name:</label>
        <div class="col-sm-7">
            <input type="text" class="form-control form-control-sm" name="FORM_NAME" data-bind="value:FORM_NAME" />
        </div>
    </div>

    <div class="form-group form-group-sm row edit_row">
        <label class="col-sm-4 col-form-label">File path:</label>
        <div class="col-sm-7">
            <input type="text" class="form-control form-control-sm" name="FILE_PATH" data-bind="value:FILE_PATH" />
        </div>
    </div>
</div>