@using vhrm.ViewModels;
@model UserViewModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>vhrm MainView</title>
    <link href="~/libs/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/libs/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/libs/nprogress/nprogress.css" rel="stylesheet" />
    <link href="~/libs/iCheck/skins/flat/green.css" rel="stylesheet">
    <link href="~/libs/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet">
    <link href="~/libs/jqvmap/dist/jqvmap.min.css" rel="stylesheet" />
    <link href="~/libs/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet">
    <link href="~/libs/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.min.css" rel="stylesheet" />
    <link href="~/assets/css/custom.css" rel="stylesheet" />
    <link href="~/Content/Customestyle.css" rel="stylesheet" />
</head>
<body class="nav-md footer_fixed">
    <div class="container body"> 
        <div class="main_container">
            <div class="col-md-3 left_col">
                <div class="left_col scroll-view">
                    <div class="navbar nav_title" style="border: 0;">
                        @*<a href="index.html" class="site_title"><i class="fa fa-paw"></i> <span>Gentelella Alela!</span></a>*@
                        @*<img class="site_title" src="~/assets/images/PK_logo---white.png" />*@
                        <div id="img_logo" class="img_lg"></div>
                    </div>

                    <div class="clearfix"></div>

                    <!-- menu profile quick info -->
                    <div class="profile clearfix">
                        <div class="profile_info">
                            <span>Welcome,</span>
                            @*<h2>User</h2>*@
                            <h2>@Model.UserName</h2>
                            <input type="hidden" id="userLogin" />
                        </div>
                    </div>
                    <!-- /menu profile quick info -->

                    <br />

                    <!-- sidebar menu -->
                    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                        @{
                            Html.RenderAction("GetMenuByUser");
                        }
                    </div>
                    <!-- /sidebar menu -->
                    <!-- /menu footer buttons -->
                    <div class="sidebar-footer hidden-small">
                        <a data-toggle="tooltip" data-placement="top" title="Logout" href="/login/logout" style="width: 100%">
                            <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
                        </a>
                    </div>
                    <!-- /menu footer buttons -->
                </div>
            </div>

            <!-- top navigation -->
            <div class="top_nav">
                <div class="nav_menu">
                    <nav>
                        <div class="nav toggle">
                            <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                        </div>
                        <ul class="nav navbar-nav navbar-right">
                            <li class="">
                                <a id="page_path">Home</a>
                            </li>
                        </ul>
                    </nav>
                </div>

            </div>
            <!-- /top navigation -->

            <!-- page content -->
            <div class="right_col" role="main">
                <div class="">
                    <div class="page-title">
                        <div class="title_left">
                            @*<h3 id="page_name">Home Page</h3>*@
                            <span id="page_name" style="font-size: 14px"></span>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="row">
                        @*<div id="screen_body" class="col-md-12 col-sm-12 col-xs-12">
                        </div>*@
                        <div id="screen_body">
                        </div>
                    </div>
                </div>
            </div>
            <!-- /page content -->

            <!-- footer content -->
            @*<footer>
                <div class="pull-right">
                    Gentelella - Bootstrap Admin Template by <a href="https://colorlib.com">Colorlib</a>
                </div>
                <div class="clearfix"></div>
            </footer>*@
            <footer style="padding-bottom: 5px; padding-top: 5px">
                <div class="bull-center">
                    K.system & Solution Co,.Ltd
                </div>
                <div class="clearfix"></div>
            </footer>
            <!-- /footer content -->
        </div>
    </div>

    @*<script src="~/libs/jquery/dist/jquery.min.js"></script>*@
    <script src="~/libs/jquery/dist/jquery.js"></script>
    <script src="~/libs/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/libs/fastclick/lib/fastclick.js"></script>
    <script src="~/libs/nprogress/nprogress.js"></script>
    @*<script src="~/libs/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.concat.min.js"></script>*@
    <script src="~/assets/js/custom_hrm.js"></script>
    @*<script src="~/assets/js/custom.js"></script>*@
</body>
</html>
