@using vhrm.ViewModels
@using Kendo.Mvc.UI.Fluent
<div class="clearfix"></div>
<div>
    <div class="demo-section k-content">
        @(Html.Kendo().TreeView()
                           .Name("treeGeoOrganization")
                           .LoadOnDemand(false)
                           .BindTo((IEnumerable<GeoDeptViewModel>)ViewBag.geoInline, (NavigationBindingFactory<TreeViewItem> mappings) =>
                           {
                               mappings.For<GeoDeptViewModel>(binding => binding.ItemDataBound((item, geoReport) =>
                                   {
                                       item.Text = geoReport.DEPTNAME;
                                       item.Id = geoReport.DEPTCODE;
                                   })
                                   .Children(category => category.GeoDeptViewModels));

                               mappings.For<GeoDeptViewModel>(binding => binding.ItemDataBound((item, child) =>
                               {
                                   item.Text = child.DEPTNAME;
                                   item.Id = child.DEPTCODE;
                               }));
                           }).Events(evs =>
                              {
                                  evs.Select("onSelectGeoOrganization");
                                  evs.DataBound("onDataBoundGeoOrganization");
                                  evs.Change("onChangeGeoOrganization");
                              })
                              .HighlightPath(true)
        )
    </div>
</div>

<style>
    #treeGeoOrganization .k-sprite {
    }

    .rootfolder {
        background-position: 0 0;
    }

    .folder {
        background-position: 0 -16px;
    }

    .pdf {
        background-position: 0 -32px;
    }

    .html {
        background-position: 0 -48px;
    }

    .image {
        background-position: 0 -64px;
    }
</style>