

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Assistant - OrgChart JS | BALKANGraph</title>
    <style>
        html, body {
            margin: 0px;
            padding: 0px;
            width: 100%;
            height: 100%;
            font-family: Helvetica;
            overflow: hidden;
        }

        #tree {
            width: 100%;
            height: 100%;
        }
    </style>

</head>
<body>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://balkangraph.com/js/latest/OrgChart.js"></script>

    <div id="tree"></div>
    <script>


        window.onload = function () {
            OrgChart.templates.myTemplate = Object.assign({}, OrgChart.templates.ana);


            OrgChart.templates.myTemplate.field_0 = '<text style="font-size: 24px;" fill="#ffffff" x="120" y="25" text-anchor="middle">{val}</text>';
            //OrgChart.templates.myTemplate.field_1 = '<text style="font-size: 16px;" fill="#ffffff" x="120" y="70" text-anchor="middle">{val}</text>';
            //OrgChart.templates.myTemplate.field_2 = '<text style="font-size: 16px;" fill="#ffffff" x="120" y="100" text-anchor="middle">{val}</text>';
            //OrgChart.templates.myTemplate.img_0 = '<clipPath id="ulaImg"><line x1="0" y1="40" x2="200" y2="200" style="stroke:rgb(255,0,0);stroke-width:2" /></clipPath><image preserveAspectRatio="xMidYMid slice" clip-path="url(#ulaImg)" xlink:href="{val}" x="0" y="40"  width="200" height="1"></image>';
            OrgChart.templates.myTemplate.html = '<foreignobject class="node" x="50" y="50" width="200" height="100">{val}</foreignobject>';



            var chart = new OrgChart(document.getElementById("tree"),
                {
                    template: "myTemplate",
                    menu: {
                        pdf: { text: "Export PDF" },
                        png: { text: "Export PNG" }
                    },
                    tags: {
                        "assistant": {
                            template: "ula"
                        }
                    },
                    nodeBinding: {
                        field_0: "name",
                        html: "geosupervisor"
                    },
                    nodes: [
                        { id: 1, name: "VIET NAM", geosupervisor: "<div style='align:center;'><label><b>PARK HANG JOON</b><br/></label><label><b>SANG JOO HUE</b></label></div>" },
                        { id: 2, pid: 1, name: "PKS2", geosupervisor: "<div style='align:center;'><label><b>PARK HANG JOON</b><br/></label><label><b>SANG JOO HUE</b></label></div>" },
                        { id: 3, pid: 1, name: "PKS3", geosupervisor: "<div style='align:center;'><label><b>PARK HANG JOON</b><br/></label><label><b>SANG JOO HUE</b></label></div>" },
                        { id: 4, pid: 1, name: "PKS1", geosupervisor: "<div style='align:center;'><label><b>PARK HANG JOON</b><br/></label><label><b>SANG JOO HUE</b></label></div>" },
                        { id: 5, pid: 1, name: "JSC", geosupervisor: "<div style='align:center;'><label><b>PARK HANG JOON</b><br/></label><label><b>SANG JOO HUE</b></label></div>" },
                        { id: 6, pid: 1, name: "BKPT", geosupervisor: "<div style='align:center;'><label><b>PARK HANG JOON</b><br/></label><label><b>SANG JOO HUE</b></label></div>" },
                        { id: 7, pid: 2, name: "MANAGEMENT", geosupervisor: "<div style='align:center;'><label><b>PARK HANG JOON</b><br/></label><label><b>SANG JOO HUE</b></label></div>" },
                        { id: 8, pid: 2, name: "SELL", geosupervisor: "<div style='align:center;'><label><b>PARK HANG JOON</b><br/></label><label><b>SANG JOO HUE</b></label></div>" },
                        { id: 9, pid: 2, name: "PRODUCTION", geosupervisor: "<div style='align:center;'><label><b>PARK HANG JOON</b><br/></label><label><b>SANG JOO HUE</b></label></div>" },
                    ]
                });
        };

    </script>
</body>
</html>
