
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>OrgChart</title>
    <style>
        html, body {
            margin: 0px;
            padding: 0px;
            width: 100%;
            height: 100%;
            font-family: Helvetica;
            overflow: hidden;
        }

        #tree {
            width: 100%;
            height: 100%;
        }
        .supervisorimg {
            border-radius: 50%;
            width: 20px;
            height: 20px;
        }
        .lbsupervisor {
            color: white;
            /*margin-left:-23px;
            margin-top:10px;*/
        }
    </style>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://balkangraph.com/js/latest/OrgChart.js"></script>
</head>
<body>
    <div id="tree"></div>
    <script>
        document.addEventListener("DOMContentLoaded", function (event) {
           $.get("@Url.Action("_OrgChartData", "OrgConfig")").done(function (response) {

           OrgChart.templates.myTemplate = Object.assign({}, OrgChart.templates.ana);

           OrgChart.templates.myTemplate.field_0 = '<text style="font-size: 14px; font-weight: bold;" fill="#ffffff" x="120" y="24" text-anchor="middle">{val}</text>';
           OrgChart.templates.myTemplate.img_0 ='<image preserveAspectRatio="xMidYMid slice" xlink:href="{val}" x="0" y="30" width="250" height="1"></image>';
           OrgChart.templates.myTemplate.html = '<foreignobject class="node" x="10" y="25" width="200" height="100">{val}</foreignobject>';

           console.log(response.nodes);

           var chart = new OrgChart(document.getElementById("tree"),
               {
                   template: "myTemplate",
                   layout: OrgChart.treeLeftOffset,
                   menu: {
                       pdf: { text: "Export PDF" },
                       png: { text: "Export PNG" }
                   },
                   tags: {
                       "assistant": {
                           template: "ula"
                       }
                   },
                   nodeBinding: {
                       field_0: "DEPTNAME",
                       img_0: "IMG",
                       html: "SUPERVISORS"
                   },
                   nodes: response.nodes

               });

           chart.on('click', function (sender, node) {
               var focusedElements = document.querySelectorAll('.focused');
               for (var i = 0; i < focusedElements.length; i++) {
                   focusedElements[i].classList.remove('focused');
               }
               var nodeElement = sender.getNodeElement(node.id);
               nodeElement.classList.add('focused');
               return false;
           });

        });
        });
    </script>
</body>
</html>
