@model vhrm.ViewModels.GeoChartViewModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>OrgChart</title>
    <style>
        html, body {
            margin: 0px;
            padding: 0px;
            width: 100%;
            height: 100%;
            font-family: Helvetica;
            overflow: hidden;
        }

        #tree {
            width: 100%;
            height: 100%;
        }

        .supervisorimg {
            border-radius: 50%;
            width: 20px;
            height: 20px;
        }

        .lbsupervisor {
            color: white;
            /*margin-left:-23px;
            margin-top:10px;*/
        }
    </style>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    @*<script src="~/assets/js/orgchart.js"></script>*@
    <script src="https://balkangraph.com/js/latest/OrgChart.js"></script>
</head>
<body>
    <div id="tree"></div>
    <input id="deptcode" type="hidden" value="@Model.DEPTCODE" />
    <script>
        document.addEventListener("DOMContentLoaded", function (event)
        {
            //TUYEN DEPTCODE VAO DAY.
            let deptCode = document.getElementById('deptcode').value;
            $.get("@Url.Action("_OrgChartData", "OrgConfig",new { deptcode = Model.DEPTCODE })").done(function (response)
            {
                OrgChart.REMOVE_GROUP_IF_HAS_ONE_NODE = false;
                OrgChart.templates.empty = Object.assign({}, OrgChart.templates.base);
                OrgChart.templates.empty.size = [210, 40];
                OrgChart.templates.empty.node = '';
                OrgChart.templates.empty.plus = '';
                OrgChart.templates.empty.minus = '';
                var gr = response.groups;
                var nr = response.nodes;
                console.log(gr);
                console.log(nr);
                var chart = new OrgChart(document.getElementById("tree"), {
                    template: "ana",
                    layout: OrgChart.treeRightOffset,
                    menu: {
                        pdf: { text: "Export PDF" },
                        png: { text: "Export PNG" }
                    },
                    enableDragDrop: true,
                    nodeBinding: {
                        field_0: "EMPNAME",
                        field_1: "EMPID",
                        field_2: "EMAIL",
                        field_3: "POSITION",
                        img_0: "IMAGE"
                    },
                    tags: JSON.parse(gr),
                    nodes: JSON.parse(nr)
                });               
            });
        });
        
    </script>
</body>
</html>
