

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Assistant - OrgChart JS | BALKANGraph</title>
    <style>
        html, body {
            margin: 0px;
            padding: 0px;
            width: 100%;
            height: 100%;
            font-family: Helvetica;
            overflow: hidden;
        }

        #tree {
            width: 100%;
            height: 100%;
        }
    </style>

</head>
<body>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://balkangraph.com/js/latest/OrgChart.js"></script>

    <div id="tree"></div>
    <script>


        window.onload = function () {
             OrgChart.REMOVE_GROUP_IF_HAS_ONE_NODE = false;    
    OrgChart.templates.empty = Object.assign({}, OrgChart.templates.base);
    OrgChart.templates.empty.size = [210, 40];
    OrgChart.templates.empty.node = '';
    OrgChart.templates.empty.plus = '';
    OrgChart.templates.empty.minus = '';
	
     var chart = new OrgChart(document.getElementById("tree"), {
        template: "olivia",
		 menu: {
				pdf: { text: "Export PDF" },
				png: { text: "Export PNG" }
			},
        enableDragDrop: true,       
        nodeBinding: {
            field_0: "EMPNAME",
            field_1: "EMPID",
			field_2: "EMAIL",
			field_3: "POSITION",
            img_0: "IMAGE"
        },
        tags: {
		    empty: {
              template: "empty"
            },			
            VIETNAM: {
                group: true,
                groupName: "VIETNAM",
                groupState: OrgChart.EXPAND,
                template: "group_grey"
            },
            PKS1: {
                group: true,
                groupName: "PKS1",
                groupState: OrgChart.EXPAND,

                template: "group_grey"
            },
            PKS2: {
                group: true,
                groupName: "PKS2",
                groupState: OrgChart.EXPAND,
                template: "group_grey"
            },
            PKS3: {
                group: true,
                groupName: "PKS3",
                groupState: OrgChart.EXPAND,
                template: "group_grey"
            },
            MANAGEMENT: {
                group: true,
                groupName: "MANAGEMENT",
                groupState: OrgChart.EXPAND,
                template: "group_grey"
            },
			SALE: {
                group: true,
                groupName: "SALES",
                groupState: OrgChart.EXPAND,
                template: "group_grey"
            },
			PRODUCTION: {
                group: true,
                groupName: "PRODUCTION",
                groupState: OrgChart.EXPAND,
                template: "group_grey"
            },
			LINE: {
                group: true,
                groupName: "LINE 1",
                groupState: OrgChart.EXPAND,
                template: "group_grey"
            },
			FACTORY: {
                group: true,
                groupName: "FACTORY SP",
                groupState: OrgChart.EXPAND,
                template: "group_grey"
            }
        },
        nodes: [
            { id: 1, tags: ["VIETNAM"], EMPNAME: "Billy Moore",EMPID:"0023338",EMAIL:"geo@gmail.com",POSITION:"CEO", IMAGE: "https://balkangraph.com/js/img/2.jpg" },            

            { id: 5, pid: 1, tags: ["PKS1"], EMPNAME: "Glenn Bell",EMPID:"0023338",EMAIL:"geo@gmail.com",POSITION:"Manager", IMAGE: "https://balkangraph.com/js/img/10.jpg" },
            
            { id: 10, pid: 5, tags: ["MANAGEMENT"], EMPNAME: "Jordan Harris",EMPID:"0023338",EMAIL:"geo@gmail.com",POSITION:"Manager", IMAGE: "https://balkangraph.com/js/img/6.jpg" },
			
			{ id: 11, pid: 5, tags: ["SALE"], EMPNAME: "Jordan Harris",EMPID:"0023338",EMAIL:"geo@gmail.com",POSITION:"Manager", IMAGE: "https://balkangraph.com/js/img/6.jpg" },
            
			{ id: 8, pid: 1, tags: ["PKS2"], EMPNAME: "Jordan Harris",EMPID:"0023338",EMAIL:"geo@gmail.com",POSITION:"Manager", IMAGE: "https://balkangraph.com/js/img/6.jpg" },
			
			{ id: 9, pid: 1, tags: ["PKS3"], EMPNAME: "Jordan Harris",EMPID:"0023338",EMAIL:"geo@gmail.com",POSITION:"Manager", IMAGE: "https://balkangraph.com/js/img/6.jpg" },
		
			{ id: 12, pid: 5, tags:["empty","PRODUCTION"],EMPNAME:"",EMPID:"",EMAIL:"",POSITION:"", IMAGE: "" },
			
			{ id: 13, pid: 12, tags:["empty","LINE"],EMPNAME:"",EMPID:"",EMAIL:"",POSITION:"", IMAGE: "" },
			
			{ id: 14, pid: 12, tags: ["FACTORY"], EMPNAME: "Jordan Harris",EMPID:"0023338",EMAIL:"geo@gmail.com",POSITION:"Manager", IMAGE: "https://balkangraph.com/js/img/6.jpg" },
			
			{ id: 15, pid: 12, tags: ["FACTORY"], EMPNAME: "David",EMPID:"0023338",EMAIL:"geo@gmail.com",POSITION:"Manager", IMAGE: "https://balkangraph.com/js/img/6.jpg" },
            
			{ id: 16, pid: 12, tags: ["FACTORY"], EMPNAME: "Maria",EMPID:"0023338",EMAIL:"geo@gmail.com",POSITION:"Manager", IMAGE: "https://balkangraph.com/js/img/6.jpg" },
			
			{ id: 17, pid: 12, tags: ["FACTORY"], EMPNAME: "Maria",EMPID:"0023338",EMAIL:"geo@gmail.com",POSITION:"Manager", IMAGE: "https://balkangraph.com/js/img/6.jpg" },
			
			{ id: 18, pid: 12, tags: ["FACTORY"], EMPNAME: "Maria",EMPID:"0023338",EMAIL:"geo@gmail.com",POSITION:"Manager", IMAGE: "https://balkangraph.com/js/img/6.jpg" },

        ]
    });  
        };

    </script>
</body>
</html>
