<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
-->
<configuration>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="SecurityMD5Key" value="safa#@!123123" />
    <add key="LengthPassword" value="7" />
    <add key="LogFile" value="/Logs/" />
    <add key="Telerik.Skin" value="WebBlue" />
  </appSettings>
  <connectionStrings>
    <!-- ndhung 2018.06.15 -> dont use Elmah anymore -->
    <!--
      <add name="ErrorLog" connectionString="Data Source=118.69.170.12;Initial Catalog=ErrorLog;Persist Security Info=True;User ID=log_user;Password=ksystem@2015" providerName="System.Data.SqlClient" />
      -->
    <!-- ndhung 2018.06.15 -> edit connectionstring to use pooling -->
    <!--
      <add name="PKConn" connectionString="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=118.69.170.22)(PORT=1521)))(CONNECT_DATA=(SERVICE_NAME=hrmvn)));User Id=hrmvn;password=drZ2y4EK; Unicode=true;" providerName="System.Data.OracleClient" />
      -->
    <!--<add name="PKConn" connectionString="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=10.10.1.22)(PORT=1521)))(CONNECT_DATA=(SERVICE_NAME=hrmvn)));User Id=hrmvn;password=drZ2y4EK; Unicode=true;" providerName="System.Data.OracleClient"/>-->
    <add name="PKConn" connectionString="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=118.69.170.22)(PORT=1521)))(CONNECT_DATA=(SERVICE_NAME=VHRM)));User Id=PKVHRM;password=sO4Ac-RY; Unicode=true;" providerName="System.Data.OracleClient" />
    <!--<add name="PKConn" connectionString="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=10.10.1.22)(PORT=1521)))(CONNECT_DATA=(SERVICE_NAME=VHRM)));User Id=PKVHRM;password=sO4Ac-RY; Unicode=true;" providerName="System.Data.OracleClient" />-->
    <!--<add name="PKConn"
           connectionString="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=192.168.1.205)(PORT=1522)))(CONNECT_DATA=(SERVICE_NAME=HRM)));User Id=hrmpkmm;password=drZ2y4EKqp; Unicode=true;"
           providerName="System.Data.OracleClient"/>-->
  </connectionStrings>
  <system.web>
    <sessionState timeout="1440" />
    <httpRuntime executionTimeout="110" maxRequestLength="10240" />
    <trace enabled="false" />
    <customErrors mode="Off" />
    <compilation debug="true" targetFramework="4.5" />
    <!--<httpRuntime targetFramework="4.5" />-->
    <pages>
      <namespaces>
        <add namespace="Kendo.Mvc.UI" />
      </namespaces>
    </pages>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer></configuration>
