html,body{height:100%}
.login{background:#222 url(../images/bg_login.jpg) center no-repeat;position:ralative}
a.hiddenanchor{display:none}
.login_wrapper{margin:auto;position:absolute;top:0;left:0;right:0;bottom:0;max-width:400px;height:300px;background:rgba(255,255,255,0.3);padding:30px}
.login_form{z-index:22}
#signup:target ~ .login_wrapper .registration_form,#signin:target ~ .login_wrapper .login_form{z-index:22;animation-name:fadeInLeft;animation-delay:.1s}
#signup:target ~ .login_wrapper .login_form,#signin:target ~ .login_wrapper .registration_form{animation-name:fadeOutLeft}
.animate{-webkit-animation-duration:.5s;-webkit-animation-timing-function:ease;-webkit-animation-fill-mode:both;-moz-animation-duration:.5s;-moz-animation-timing-function:ease;-moz-animation-fill-mode:both;-o-animation-duration:.5s;-o-animation-timing-function:ease;-o-animation-fill-mode:both;-ms-animation-duration:.5s;-ms-animation-timing-function:ease;-ms-animation-fill-mode:both;animation-duration:.5s;animation-timing-function:ease;animation-fill-mode:both}
.login_box{padding:20px;margin:auto}
.login_content form input[type="text"],.login_content form input[type="email"],.login_content form input[type="password"]{border-radius:3px;-ms-box-shadow:none;-o-box-shadow:none;box-shadow:none;border:1px solid #FFF;margin:20px 0;width:100%}
.login_content form input[type="text"]:focus,.login_content form input[type="email"]:focus,.login_content form input[type="password"]:focus{-ms-box-shadow:0 0 2px #ed1c24 inset;-o-box-shadow:0 0 2px #ed1c24 inset;box-shadow:0 0 2px #A97AAD inset;background-color:#fff;border:1px solid #A878AF;outline:none}
.logo-login{width:100%;float:left;text-align:center;margin-bottom:20px}
.login-button{width:100%;float:left;text-align:center}
.login-button input[type="submit"]{border:none;background:#c71313;padding:8px 30px;text-transform:uppercase;font-weight:700;color:#FFF}
.emp-search-block{width:100%;float:left}
.emp-search-title{width:80px;padding:5px 10px;text-align:right;float:left;font-size:12px;font-weight:700}
.emp-search-formsearch{float:left;width:calc(100% - 270px)}
.emp-search-formsearch input[type="text"]{float:left;width:calc(100% - 31px);margin-right:-3px;height:31px;padding:6px; font-size:14px}
.emp-search-button{float:right;width:180px}
.emp-search-button button{margin-left:5px}


.region{float:right;width:100%;margin-top:10px}
.em-info-block{width:100%;float:left} 
.em-info-block .form-group {margin-bottom:0}

 
.title-em-info { text-align:right;  font-size:13px; padding:0!important}
.form-em-info {width:100%; border:1px solid #F00; padding:3px 8px; border-radius:3px}

.form-em-date input[type="text"]{ border:1px solid #F00; }


.expandWidth{width:100%}
.btnOpacity{background:#124461de;color:#fff}
.btnDisOpacity{background:#50ace0b5;color:#fff}
.k-tabstrip-items .k-item.k-state-active,.k-tabstrip-items .k-item.k-state-selected{border-color:rgba(0,0,0,0.08);color:#003f59;background-color:#007bff38}
input[id="BIRTHDATE"]{width:100%;height:30px}
input[id="DATEJOIN"]{width:100%;height:30px}
.ui-autocomplete{position:absolute;top:100%;left:0;z-index:1000;display:none;float:left;min-width:160px;padding:5px 0;margin:2px 0 0;list-style:none;font-size:14px;text-align:left;overflow:hidden;background-color:#fff;border:1px solid #ccc;border:1px solid rgba(0,0,0,0.15);border-radius:4px;-webkit-box-shadow:0 6px 12px rgba(0,0,0,0.175);box-shadow:0 6px 12px rgba(0,0,0,0.175);background-clip:padding-box}
.ui-autocomplete > li > div{display:block;padding:3px 20px;clear:both;font-weight:400;line-height:1.42857143;color:#333;white-space:nowrap}
.ui-state-hover,.ui-state-active,.ui-state-focus{text-decoration:none;color:#262626;background-color:#00a3ffb5;cursor:pointer}
.ui-helper-hidden-accessible{border:0;clip:rect(0 0 0 0);height:1px;margin:-1px;overflow:hidden;padding:0;position:absolute;width:1px}
.k-window-titleless{visibility:visible;display:block;width:45px;height:45px;top:128px;left:8px;z-index:10003}
.k-widget.k-window.k-dialog{display:flex;left:90px!important;top:75px!important;z-index:10004!important}
input[id="BIRTHDATE"]{width:100%;height:30px}
input[id="DATEJOIN"]{width:100%;height:30px}
.k-header{width:100%}
.k-popup{width:320px}
fieldset.scheduler-border{border:1px groove #ddd!important;padding:0 1.4em 1.4em!important;margin:0 0 1.5em!important;-webkit-box-shadow:0 0 0 0 #000;box-shadow:0 0 0 0 #000}
.k-header{width:100%}
.vhrm_employee{min-height:880px;background:#fff;width:500px;float:left;margin-top:5px;margin-left:5px}
.GeoOrganizationInforPartial{min-height:300px;background:#fff;width:calc(100% - 510px);float:left;margin-left:5px;margin-top:5px}